button {
  border: none;
  border-radius: 4px;

  color: #fff;
  background-color: #264FEC;

  padding: 8px;
  font-size: 14px;
  font-weight: 500;

  width: 100%;
}

button:hover {
  cursor: pointer;
}